body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /*Prevent horizontal scroll*/
}

.container {
    position: relative; /*Needed for parallax effect */
    background: linear-gradient(to bottom, #333, #000);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

header {
    
    text-align: center;
    /*z-index: 1; Ensure header stays on top of parallax*/
}

header a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    margin: 0;
}

.content {
    text-align: center;
    /*
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    position: relative; /*Needed for parallax effect*
    z-index: 1; /*Ensure content stays on top of parralax*/
}

img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    /*transform: translateZ(0); Trigger hardware acceleration*/
    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

html {
    scroll-behavior: smooth;
}


.animated-element {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sublist {
    display: none;
    text-align: left;
    color: rgb(127, 255, 155);
    border-color: rgb(71, 104, 211);
}

.sublist h2 {
    margin-bottom: 10px;
}

