* {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto', sans-serif;
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 gmp-map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
   
.page {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  height: 100%;
}

.verytop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    background-color: rgb(80,80,00);
}
.toptext {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    margin: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(80,80,00);
  height: 50px;
}
.areaofinterest {
  margin: 10px;
}

h1 {  
  color: antiquewhite;
}
h3, h4 {
  color: antiquewhite;
  padding: 0px;
  margin: 0px;
}



.oliveratnight {
  opacity: .7;
  height: 200px;
}

.icon {
  height: 150px;
  border-radius: 5px;
}

.OpenEChord {
  height: 200px;
  padding: 0;
  margin: 0;
  border: 10px;
}

.guitarmain {
  display: flex;
  flex-direction: column;
}

.guitarheader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 200px;
  background-color: rgb(185, 169, 201);
}

.treyguitar {
  height: 200px;
}

#guitarheadertext {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.guitarlesson {
  background-color: rgb(214, 229, 245);
  color: rgb(61, 35, 0);
  padding-left: 5px;
}

.guitarmainbody {
  display: flex;
  flex-direction: row;
  
}

.guitarleftpanel {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: antiquewhite;
  padding: 30px;
  
}