* {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto', sans-serif;
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 gmp-map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
   
.page {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
  height: 100%;
}

.verytop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    background-color: rgb(185, 169, 201);
}
.toptext {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    margin: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(185, 169, 201);
  height: 50px;
}

.areaofinterest {
  margin: 10px;
}


.oliveratnight {
  opacity: .7;
  height: 200px;
}

.icon {
  height: 300px;
  border-radius: 15px;
}

.guitarimages {
  height: 300px;
  padding: 5px;
  margin: 0;
  border: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 200px;
  background-color: rgb(185, 169, 201);
}

#mainHeaderImage {
  display: flex;
  height: 200px;
  width: 200px;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.mainBody {
  display: flex;
  flex-direction: row;
}

.leftBody {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: antiquewhite;
  
  width: 200px;
}

.rightBody {
  background-color: rgb(214, 229, 245);
  color: rgb(61, 35, 0);
  padding-left: 5px;
}

#mainRecipeBody {
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

.recipeButtons {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.recipeButton {
  margin: 5px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
}




