* {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  
}



/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 gmp-map {
    height: 100%;
  }

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h3, h4 {
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.homeLink {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.areaofinterest {
  margin: 0;
  padding: 0;
}

.icon {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.guitarimages {
  height: 300px;
  padding: 20px 20px 20px 20px;
  margin: 0;
  border: 10px;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 20px 10px 10px 0px;
  height: 100px;
  background-image: linear-gradient(rgba(19, 17, 150, 0.5), rgba(50, 107, 24, 0.575));
}

#mainHeaderImage {
  display: flex;
  flex-grow: 0;
  justify-self: end;
  height: 200px;
  width: 150px;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerTitle {
  display: flex;
  align-self: center;
}

.mainBody {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  min-height: 100hv;
}

#homeBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: radial-gradient(rgb(27, 27, 27), rgb(65, 65, 65));
  padding: 20px 20px 20px 20px;
  min-height: 100vh;
  justify-content: space-around;
  
}

ol, ul {
  padding-left: 40px;
}

.leftBody {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 17, 17);
  color: antiquewhite;
  flex-shrink: 0;
  width: 150px;
  padding: 20px 0px 0px 8px;
  
}

.rightBody {
  background-color: rgb(214, 229, 245);
  color: rgb(61, 35, 0);
  padding: 20px 10px 10px 10px;
  
}

#mainRecipeBody {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  flex-grow: 1;
  
}

.recipeButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

button {
  display: flex;
  margin-bottom: 10px;
  margin: 2px;
  padding: 3px 3px;
  font-size: 12px;
  cursor: pointer;
  
  border-radius: 8px;
  background-color: #351c38;
  color: #00ffff;
}




